.room-image {
	width: 50%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.room-selection-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.room-image.selected {
	border: 3px solid #a51d37;
}
