.room-image {
	width: 50%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.room-selection-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.room-image.selected {
	border: 3px solid #a51d37;
}

.booking-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0px;
}

.pet-detail-form {
	margin-top: 0px;
	margin-bottom: 40px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	border: solid 5px #a51d37;
}
