form {
	width: 300px;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 80px;
}

label {
	display: block;
	margin-bottom: 8px;
}

input,
textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border-color 0.3s;
}

.contact-submit {
	background-color: #a51d37;
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	width: 100%;
}

.contact-submit:hover {
	background-color: #86172b;
}

input:focus,
textarea:focus {
	border-color: #a51d37;
	outline: none;
}

.form-container {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 5px #a51d37;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	background-color: whitesmoke;
	border-radius: 15%;
}

.contact-info-message {
	text-align: center;
	margin-left: 10%;
	font-size: 2em;
}
