/* Footer.css */

footer {
	background-color: white;
}

.footer-container {
	margin-top: auto;
	padding: 20px;
}

.logo-image {
	width: 5%;
	/* margin-right: auto; */
	/* padding-right: 200px; */
}

.social-icons {
	display: flex;
	justify-content: space-around;
}

.social-icons .footer-icons {
	padding: 10px;
	font-size: 50px;
	margin-top: 50px;
}

.social-icons a {
	color: black;
}

.social-icons a:hover {
	color: #a51d37;
}
