/* Footer.css */

footer {
	background-color: white;
}

.footer-container {
	margin-top: auto;
	padding: 20px;
}

.logo-image {
	width: 5%;
	margin-right: auto;
	padding-right: 200px;
}

.social-icons {
	display: flex;
	justify-content: flex-end;
}
