/* Homepage.css */
@font-face {
	font-family: "Lobster";
	src: url("../assets/fonts/Lobster-Regular.ttf");
}

.home-container {
	background-color: #a51d37;
	margin-bottom: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.home-image {
	border-radius: 50%;
	width: 55%;
	height: auto;
}

.home-title {
	font-size: 100px;
	margin-bottom: 50px;
	margin-top: 0px;
	font-family: "Lobster";
}
