/* Homepage.css */
@font-face {
	font-family: "Lobster";
	src: url("../assets/fonts/Lobster-Regular.ttf");
}

.home-container {
	background-color: #a51d37;
	margin-bottom: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.home-image {
	border-radius: 50%;
	width: 55%;
	height: auto;
}

.home-title {
	font-size: 100px;
	margin-bottom: 50px;
	margin-top: 0px;
	font-family: "Lobster";
}

.main-container {
	display: flex;
	border-color: green;
	padding: 50px;
	border: 10px;
}

.main-container div {
	border: solid yellow 10px;
	margin-bottom: 50px;
}

.main-container p {
	max-width: 80%;
	border-color: black;
	border: solid 10px;
	text-align: center;
}

.testimonial-title {
	font-family: "Lobster";
	text-align: center;
	font-size: 3em;
	margin-top: -40px;
}
