/* Homepage.css */
@font-face {
	font-family: "Lobster";
	src: url("../assets/fonts/Lobster-Regular.ttf");
}

.home-container {
	background-color: #a51d37;

	/* padding-top: 50px; */
	padding-bottom: 50px;
	text-align: center;
}

.home-image {
	border-radius: 48%;
	width: 55%;
	height: auto;
	border: solid 10px #fde4de;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main-container {
	display: flex;
	padding: 50px;
	border: 10px;
}

.main-container div {
	margin-bottom: 50px;
}

.main-container p {
	max-width: 80%;
	margin: auto;
	font-size: 20px;
	padding: 30px;
	border: solid 5px #a51d37;
	border-radius: 20%;
	box-shadow: 5px 5px #a51d37;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

.testimonial-title {
	font-family: "Lobster";
	text-align: center;
	font-size: 4em;
}

.title-rows {
	text-decoration: underline;
	font-size: 2em;
	font-family: "Lobster";
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: -20px;
}
