header {
	display: flex;
	background-color: #a6a6a6;
	padding: 12px;
	justify-content: flex-end;
	position: sticky;
	top: 0;
}

.top-nav {
	display: flex;
	align-items: center;
}

.nav-list {
	list-style: none;
	padding-right: 100px;
	margin: 0;
}

.nav-list li {
	margin-right: 10px;
}

.nav-list a {
	text-decoration: none;
	margin-right: 20px;
	color: black;
	font-size: large;
}

a:hover {
	color: #a51d37;
}

.book-link-style {
	font-weight: bolder;
	padding-right: 100px;
}
.top-nav h1 {
	margin: 0;
}
