header {
	display: flex;
	/* background-color: #fde4de; */
	background-color: white;
	padding: 2px;
	justify-content: flex-end;
	position: sticky;
	top: 0;
}

.top-nav {
	display: flex;
	align-items: center;
	font-family: "Lobster";
	background-color: white;
}

.nav-list {
	list-style: none;
	padding-right: 100px;
	margin: 0;
	background-color: white;
}

.nav-list li {
	margin-right: 10px;
}

.nav-list a {
	text-decoration: none;
	margin-right: 20px;
	color: black;
	font-size: large;
}

a:hover {
	color: #a51d37;
}

.book-link-style {
	font-weight: bolder;
	padding-right: 100px;
}
.top-nav h1 {
	margin: 0;
}

.logo-image {
	width: 5%;
	margin-right: auto;
	padding-right: 200px;
}
