/* App.css */

@font-face {
	font-family: "Lobster";
	src: url("../assets/fonts/Lobster-Regular.ttf");
}

html,
body {
	width: 100%;
	margin: 0;
}

main {
	background-color: #fde4de;
	min-height: 100vh;
}
